@{
    ViewBag.Title = "Sistema de requisiciones";
}

<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>

@section scripts {
    
}