@{
    ViewBag.Title = "Sistema de requisiciones";
}
@*INDEX DEL HOME*@
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>

@section scripts {

}